.h5p-interaction.h5p-poster.h5p-youtubecomments-interaction {
	background: rgba(255,255,255,0.7) !important;
	transition: opacity 1s ease-in-out;
}
.h5p-youtubecomments-interaction--fade-out {
	opacity: 0;
}
.h5p-youtubecomments {
	padding:  5px;
	font-size: 18px;
}

.h5p-youtubecomments__hide-button {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 24px;
}
.h5p-youtubecomments__hide-button:hover {
	cursor: pointer;
}

.h5p-youtubecomments__head {
	margin-bottom: 5px;
	text-align: center;
	padding-left: 5px;
}

.youtubecomment {
	background: white;
	padding: 5px;
	position: relative;
	margin-bottom: 5px;
}

.youtubecomment__authorProfileImage {
  position: absolute;
  left: 5px;
  top: 5px;
}

.youtubecomment__text {
  margin-left: 58px;
  min-height: 60px;
}
